.box-c {
    position: relative;
    width: 408px;
    height: 550px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(178, 184, 240, 0.37) ;
    border: 2px solid rgb(255,255,255,0.18);
}

.box-c .box-d {
    position: relative;
    justify-content: center;
    align-items: center;
}

.box-c .box-d .item {
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-c .box-d .item1 {
    margin-bottom: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}