.frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.frame .images {
    width: 200;
    height: 300;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}